@using BasicViews
@model Person

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(p => p.Name)
        @await Html.EditorForAsync(p => p.Name)
    </div>
    <div>
        @Html.LabelFor(p => p.Age)
        @await Html.EditorForAsync(p => p.Age)
    </div>
    <div>
        @Html.LabelFor(p => p.BirthDate)
        @await Html.EditorForAsync(p => p.BirthDate)
    </div>
    <input type="submit" />

    @Html.AntiForgeryToken()
}