@model TagHelpersWebSite.Models.Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>


<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @await Html.DisplayForAsync(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @await Html.DisplayForAsync(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @await Html.DisplayForAsync(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @await Html.DisplayForAsync(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JoinDate)
        </dt>
        <dd>
            @await Html.DisplayForAsync(model => model.JoinDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd>
            @await Html.DisplayForAsync(model => model.Salary)
        </dd>
    </dl>
</div>
<p>
        @Html.ActionLink("Back to List", "Index")
</p>
</body>
</html>

